body{
    transition: background 1s ease-in-out;
    background:url(images/background1.jpg) no-repeat center center fixed;
    font-family: sans-serif;
    background-size: cover;
}
.wp1{
    background:url(images/background1.jpg) no-repeat center center fixed;
    background-size: cover;
}
.wp2{
    background:url(images/background2.jpg) no-repeat center center fixed;
    background-size: cover;
}
.loadingScreen{
    z-index: 999;
    position: fixed;
    height:100%;
    width:100%;
    left:0;
    right:0;
    background:black;
}
#winLoader{
    position: absolute;
    height:10em;
    width:10em;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
#winLoader div{
    border:.15em solid black;
}
.windows8 {
    position: absolute;
    width: 90px;
    height: 90px;
    margin: auto;
    left: 0;
    right: 0;
    top: 20em;
    bottom: 0;
}

.windows8 .wBall {
   position: absolute;
   width: 86px;
   height: 86px;
   opacity: 0;
    
   -moz-transform: rotate(225deg);
   -moz-animation: orbit 7.15s infinite;

    -webkit-transform: rotate(225deg);
    -webkit-animation: orbit 7.15s infinite;

    -ms-transform: rotate(225deg);
    -ms-animation: orbit 7.15s infinite;

    -o-transform: rotate(225deg);
    -o-animation: orbit 7.15s infinite;

    transform: rotate(225deg);
    animation: orbit 7.15s infinite;
}

.windows8 .wBall .wInnerBall{
    position: absolute;
    width: 11px;
    height: 11px;
    background: #FFFFFF;
    left:0px;
    top:0px;
    
       -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
        -ms-border-radius: 11px;
         -o-border-radius: 11px;
            border-radius: 11px;
}

.windows8 #wBall_1 {
       -moz-animation-delay: 1.56s;
    -webkit-animation-delay: 1.56s;
        -ms-animation-delay: 1.56s;
         -o-animation-delay: 1.56s;
            animation-delay: 1.56s;
}

.windows8 #wBall_2 {
       -moz-animation-delay: 0.31s;
    -webkit-animation-delay: 0.31s;
        -ms-animation-delay: 0.31s;
         -o-animation-delay: 0.31s;
            animation-delay: 0.31s;
}

.windows8 #wBall_3 {
       -moz-animation-delay: 0.62s;
    -webkit-animation-delay: 0.62s;
        -ms-animation-delay: 0.62s;
         -o-animation-delay: 0.62s;
            animation-delay: 0.62s;
}

.windows8 #wBall_4 {
       -moz-animation-delay: 0.94s;
    -webkit-animation-delay: 0.94s;
        -ms-animation-delay: 0.94s;
         -o-animation-delay: 0.94s;
            animation-delay: 0.94s;
}

.windows8 #wBall_5 {
       -moz-animation-delay: 1.25s;
    -webkit-animation-delay: 1.25s;
        -ms-animation-delay: 1.25s;
         -o-animation-delay: 1.25s;
            animation-delay: 1.25s;
}

@keyframes orbit {
   0% {
      opacity: 1;
      z-index:99;
      transform: rotate(180deg);
      animation-timing-function: ease-out;
   }

   7% {
      opacity: 1;
      transform: rotate(300deg);
      animation-timing-function: linear;
      origin:0%;
   }

   30% {
      opacity: 1;
      transform:rotate(410deg);
      animation-timing-function: ease-in-out;
      origin:7%;
   }

   39% {
      opacity: 1;
      transform: rotate(645deg);
      animation-timing-function: linear;
      origin:30%;
   }

   70% {
      opacity: 1;
      transform: rotate(770deg);
      animation-timing-function: ease-out;
      origin:39%;
   }

   75% {
      opacity: 1;
      transform: rotate(900deg);
      animation-timing-function: ease-out;
      origin:70%;
   }

   76% {
      opacity: 0;
      transform:rotate(900deg);
   }

   100% {
      opacity: 0;
      transform: rotate(900deg);
   }
}
@keyframes windows{
    0%{
        height:48%;
        width:48%
    }
    50%{
        height:50%;
        width:50%;
        border:.3em solid white;
        box-sizing: border-box;
    }
    100%{
        height:48%;
        width:48%;
    }
}
.taskbar{
    z-index: 300;
    position:fixed;
    flex-wrap: nowrap;
    display: flex;
    align-content: flex-start;
    align-items: flex-start;
    bottom:0;
    left:0;
    right:0;
    height:2.7em;
    width:100%;
    background:rgba(0,0,0,1);
}
.startButton{
    display: flex;
    justify-content: center;
    position: relative;
    height:100%;
    width:3.2em;
}
.startButton img{
    height:1.3em;
    margin: auto;
}
.startButton:hover, .startButton img:hover{
    background:rgb(20,20,20);
}
.startButton:active{
    background:black;
}
.searchbar{
    display: flex;
    flex-wrap: nowrap;
    height:100%;
    width:19.2em;
    line-height: .7em;
    background:rgb(40,40,40);
    color:rgba(70,70,70,1);
}
.searchbar:hover{
    background:rgb(50,50,50)
}
.searchbar p{
    margin-left:1em;
    margin-right: 1em;
    color:rgb(100,100,120);
}
.taskbarIcon{
    display: flex;
    height:100%;
    width:3em;
    justify-content: center;
    color:white;
    box-sizing: border-box;
    margin-left:.2em;
}
.taskbarIcon:hover{
    background-color:rgb(100,100,100);
}
.taskbarIcon:active{
    background:black;
}
.taskbarIcon img{
    height:60%;
    margin: auto;
}
.activeIcon{
    border-bottom:.2em solid rgb(50,120,200);
}
.taskbarRight{
    position: absolute;
    display: flex;
    justify-content: flex-end;
    height:100%;
    width:10em;
    right:0;
}
.taskbarRightIcon{
    display: flex;
    flex-direction: column;
    height:100%;
    width:4.6em;

    color:white;
    box-sizing: border-box;
}
#clock{
    display:flex;
    flex-direction: column;
}
#time, #date{
    display: flex;
    position: relative;
    height:50%;
}
#time div, #date div{
    line-height: 0;
    color: white;
    z-index: 999;
}
#date p{
    margin-top:.5em;
}
.startMenu{
    z-index: 200;
    display: flex;
    flex-direction: row;
    position:fixed;
    bottom:2.7em;
    left:0;
    height:100%;
    width:60em;
    max-height:40em;
    background:rgba(0,0,0,.8);
    animation: .3s fade-and-slide;
    
/*    animation: startPopup .4s;*/
}
@keyframes startPopup{
    0%{
        height:0;
    }
    100%{
        height:100%;
    }
}
@keyframes startPopdown{
    0%{
        height:100%;
    }
    100%{
        height:0;
    }
}
.sidebar{
    position: relative;
    display: flex;
    flex-direction: column;
    height:100%;
    width:25em;
    padding-top:1em;
    color:white;
    animation: .4s fade-and-slide;
}
.sidebarTop{
    position: relative;
    height:70%;
    width:100%;
    overflow: auto;
}
.sidebarBottom{
    width:100%;
    justify-content: flex-end;
    margin:auto;
    overflow: auto;
}
.sidebarButton{
    display: flex;
    height:3em;
}
.sidebarButton:hover{
    background: rgba(200,200,200,.5);
}
.sidebar img{
    max-height: 1.8em;
    padding:.5em;
}
.sidebar p{
    
}
.appview{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    margin: auto;
    padding-top:.9em;
    padding-bottom:1em;
    padding-left:1em;
    height:90%;
    width:100%;
    overflow: auto;
    animation: .4s fade-and-slide;
}
.appSection{
    z-index: 5;
    margin:.5em;
    transition: all .3s ease-in-out;
}
.appSection p{
    color:white;
    margin-left:.5em
}
.appHolder{
    display:flex;
    flex-wrap: wrap;
    max-width:19.2em;
}
.app{
    height:6em;
    width:6em;
    margin:.2em;
    background:dodgerblue;
    list-style: none;
    text-align: center;
    color:white;
    animation: .3s fade-and-slide;
}
.app:hover, .wideapp:hover{
    outline: .2em solid white;
}
.wideapp{
    height:6em;
    width:12.4em;
    margin:.2em;
    text-align: center;
    list-style: none;
    background:dodgerblue;
    color:white;
    animation: .3s fade-and-slide;
}
.app img, .wideapp img{
    max-height:3em;
    padding-top:.5em;
    margin-bottom:-1em;
}
/*END START MENU*/
.cortanaMenu{
    z-index: 200;
    position: fixed;
    display: flex;
    left:0;
    bottom:2.7em;
    height:100%;
    width:22.4em;
    max-height:40em;
    background:rgba(0,0,0,.8);
    animation: .4s fade-and-slide;
}
.cortanaSidebar{
    position: relative;
    height:100%;
    width:14%;
    background: black;
}
.cortanaSidebarButton{
    height:3.5em;
}
.cortanaSidebarButton:hover{
    background: rgb(100,100,100);
}
.cortanaSidebarButton img{
    max-height:1.5em;
    margin-top:1em;
    margin-left:1em;
}
.cortanaMain{
    position: relative;
    width:80%;
    height: 100%;
    margin: auto;
    margin-right:0;
    text-align: center;
    color:white;
}
@keyframes cortana {
  0% {
    box-shadow: 0 0 0 10px #3e92d2, 0 0 0 40px #1f445f;
  }
  
  100% {
    box-shadow: 0 0 0 15px #3e92d2, 0 0 0 25px #1f445f;
  }
}

.cortanaAnimation {
    margin: auto;
    margin-top:3em;
    margin-bottom:3em;
    width:75px;
    height:75px;
    border-radius:50%;
    box-shadow: 0 0 0 10px #3e92d2, 0 0 0 40px #1f445f;
    animation: cortana 1.5s infinite ease-in-out alternate;
}
.desktop{
    position: absolute;
    overflow:none;
    height:95.5%;
    width:100%;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow: hidden;
}
.shortcutShell{
    position: absolute;
    display:flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 0;
    height:100%;
    width: 100%;
    top:0;
    left:0;
}
.shortcut{
    display: flex;
    flex-direction: column;
    height:7em;
    width:6em;
    color:white;
    text-align: center;
}
.shortcut:hover{
    background:rgba(255,255,255,.2);
}
.shortcut img{
    height:50%;
    width:60%;
    left:0;
    right:0;
    margin: auto;
    margin-bottom:-.5em;
}
.appShell, .popupShell{
    z-index: 10;
    display:none;
    position: absolute;
    flex-direction: column;
    height:40em;
    width:60%;
    background:rgb(255,255,255);
    border-bottom:.1em solid white;
    border-left:.1em solid white;
    border-right:.1em solid white;
    animation: fade-and-scale .2s;
    overflow: hidden;
    box-shadow: 0 0 10px rgb(50,50,50);
}

@keyframes fade-and-scale{
    0%{
        transform: scale(.9, .9);
    }
    100%{

    }
}
@keyframes fade-and-shrink{
    0%{
        opacity: 0;
    }
    100%{

    }
}
@keyframes fade-and-slide{
    0%{
        transform: translateY(2em);
    }
    100%{
        
    }
}
.titleBar{
    display:flex;
    height:1.7em;
    width:100%;
}
.titleBar p{
    margin: .3em auto;
    margin-left:1em;
}
.windowNav{
    display: flex;
    align-content: flex-end;
    height:100%;
    width:10em;
    margin: auto;
    margin-right:0;
}
.navButton, .navButton2{
    position: relative;
    height:100%;
    width:33.33%;
}
.navButton:nth-child(1) div{
    margin: 0 auto;
    margin-top:.8em;
    height:.1em;
    width:.7em;
    background:black;
}
.navButton2 div{
    margin: 0 auto;
    margin-top:.5em;
    height:.6em;
    width:.6em;
    border:.1em solid black;
}
.navButton3{
    position: relative;
    height:100%;
    width:33.33%;
}
.navButton3 img{
    max-height:1.5em;
    margin-top:.1em;
    margin-left: .9em;
    filter: brightness(10%);
    -webkit-filter: brightness(10%);
}
.navButton:hover, .navButton2:hover{
    background: lightgray;
    transition: all .1s ease-in-out;
}
.navButton3:hover{
    background:red;
}
.navButton3:hover  img{
    filter: none;
    -webkit-filter: none;
}
.popupShell{
    z-index: 50;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    height:15em;
    width:20em;
    background:white;
}
.notificationButtonContainer{
    position: absolute;
    display: flex;
    width:100%;
    bottom: 0;
    height:3em;
}
.notificationButton{
    width:100%;
    text-align: center;
    line-height: 2.3em;
    box-sizing: border-box;
    background:rgb(200,200,200);
    border:.2em solid white;
}
.notificationButton:hover{
    border:.2em solid rgb(150,150,150);
}
.notificationButton:active{
    background:rgb(150,150,150);
}
.popupMainContent{
    height:8em;
    text-align: center;
}
.smallWindow{
    height:100%;
    width:99%;
    animation: .2s fade-and-slide;
}
.appContent{
    height:91.6%;
    width:100%;
    padding-top:1em;
}
.appContent iframe{
    height:100%;
    width:99.7%;
}
@keyframes appStartup{
    0%{
        opacity:0;
        width:70%;
        height:70%;
    }
    100%{
        opacity:1;

    }
}
.explorerNav-tab{
    height:1.5em;
    margin: 0 auto;
    margin-top:-1.2em;
    display: flex;
    border-bottom:.1em solid gray;
}
.explorerNav-tab div{
    width:4em;
    text-align: center;
    line-height: 1.5em;
}
.explorerNav-tab div:nth-child(1){
    background: dodgerblue;
    color:white;
}
.explorerNav{
    height:1.7em;
    margin: .4em auto;
    display: flex;
    flex-direction: row;
    font-size: .8em;
}
.explorerNav-button{
    width:2em;
    margin: .4em;
}
.explorerNav img{
    position: relative;
    height:100%;
    max-height: 1em;
}
.explorerNav-button:nth-child(1){

}
.explorerNav-button:nth-child(2){
    transform: rotate(180deg);
}
.explorerNav-button:nth-child(3){
    margin-top:.6em;
    max-height: .5em;
    max-width: .5em;
}
.explorerNav-button:nth-child(4){
    transform: rotate(90deg);
}
.explorerNav-button:nth-child(5){
    width:100%;
    height;3em;
    margin: auto;
    margin-left:1em;
    margin-right:1em;
    border: .1em solid lightgray;
}
.explorerNav-button:nth-child(6){
    width:20%;
    margin: auto;
    margin-right: 1em;
    border: .1em solid lightgray;
}
.explorerPane{
    display:flex;
    flex-direction: row;
    height:100%;
    width:100%;
    overflow: auto;
}
.explorerSidebar{
    height:100%;
    width:25%;
    min-width:10em;
    border-right:.1em solid lightgray;
    overflow: hidden;
}
.explorerSidebar ul{
    margin: 0 auto;
    line-height: 2em;
    height:2em;
    cursor: pointer;
}
.explorerPane div:nth-child(1) ul:hover{
    background: rgba(0,128,252,.3);
    
}
.explorerPane div:nth-child(2){
    height:100%;
    width:75%;
}
/*Edge*/
.edgeNavBar{
    height:2.5em;
    display: flex;
    background: rgb(245,245,244);
}
.edgeNavBar input{
    height:70%;
    width:60%;
    margin: auto;
    margin-left:1em;
    border:none;
    border-left:.1em solid darkgray;
    border-right: .1em solid darkgray;
    background: rgb(245,245,244);
    padding:.3em;
}
.edgeNavBar input:hover{
    background:white;
    border: .1em solid darkgray;
}
.edgeContent{
    height:100%;
}

.settingsPane{
    display:flex;
    flex-direction: column;
    text-align: center;
    height:100%;
    overflow: auto;
    animation: .2s fade-and-scale;
}
.settingsPane h3{
    font-weight: 100;
    font-size: 1.2em;
}
.settingsPane h1, .settingsPane h2{
    font-weight: 300;
}
.settingsPane ul{
    padding:.5em;
}
.windowsLogo{
    position: absolute;
    margin: 0 auto;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:5em;
    width:5em;
}
.windowsLogo div{
    position: relative;
    height:50%;
    width:50%;
    border: .15em solid white;
    box-sizing: border-box;
    background:dodgerblue;
}
.settingsPaneSelector{
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width:100%;
    max-width: 48em;
    animation: .4s fade-and-shrink;
}
.settingsPaneSection{
    height:10em;
    width:10em;
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.settingsPaneSection img{
    max-height: 2.5em;
    max-width:2.5em;
    margin: 0 auto;
}
.settingsPaneSection:hover{
    outline:2px solid lightgray;
}

.settingsSection{
    display:flex;
    height:10em;
    overflow: auto;
    animation: .2s fade-and-scale;
}
#settingsSection1{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    align-content: flex-start;
    flex-direction: column;
}
#settingsPane-1{
    margin: auto;
    height:100%;
    width:20em;
    flex-direction: column;
}
#settingsPane-1 .windowsLogo{
    position: relative;
    margin: 0 auto;
}
#settingsPane-1 .windowsLogo div{
    position: relative;
    border: .2em solid white;
}
#settingsPane-4{
    display: flex;
    flex-direction: row;
    text-align: left;
    margin:.5em;
    margin-left:0;
    height:100%;
}
.settingsPane-4-Sidebar{
    width:20em;
}
.settingsPane-4-Sidebar-Options{
    height:19em;
    display: flex;

    flex-direction: column;
}
.settingsPane-4-Sidebar-Options p{
    padding-left:1em;
    margin: 0 auto;
    margin-left:0;
    height:3em;
    width:90%;
    line-height: 3em;
}
.settingsPane-4-Sidebar-Options p:hover{
    background:lightgray;
}
.settingsPane-4-Main{
    display: flex;
    flex-direction: column;
    text-align: left;
    height:30em;
}
.settingsPane-4-Main-Group{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin:.5em;
    animation: .3s fade-and-slide;
}
.preview{
    height:9em;
    width:16em;
    background: url(images/background1.jpg);
    background-size: cover;
    transition: .5s background ease-in-out;
}
.previewStart{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left:0;
    justify-content: flex-end;
    height:7.4em;
    width:5em;
    padding:.5em;
    background: rgba(0,0,0,.8);
}
.previewTaskbar{
    height:.75em;
    width:100%;
    background:rgba(0,0,0,.8);
}
.previewApp, .previewApp2{
    height:3em;
    width:3em;
    background:dodgerblue;
    border:.1em solid black;
    box-sizing: border-box;
    text-align: center;
    color:white;
}
#previewApp2-hold{
    display: flex;
    flex-direction: column;
    height:3em;
}
.previewApp2{
    height:1.5em;
    width:1.5em;
}
.WPChooser{
    display: flex;
    flex-direction: column;
    height:100%;
}
.WPChooser div{
    display: flex;
    flex-direction: row;
}
.wallpaper, .customWallpaper{
    height:100%;
    overflow: hidden;
    margin: .1em;
}
.customWallpaper{
    display: flex;
    justify-content: center;
    margin: .5em auto;
    margin-left: 0;
    height:2.5em;
    line-height: .6em;
    width:5em;
    text-align: center;
    background:lightgray;
}
.customWallpaper:hover{
    outline: .2em solid darkgray;
}
.wallpaper img, .customWallpaper img{
    max-height:5em;
}
.colorSelector{
    display: flex;
}
.selectedColor{
    border:.2em solid black;
    box-sizing: border-box;
}
#settingsSection2{
    height:5em;
    flex-wrap: wrap;
    flex-direction: row;
    align-content: flex-start;
}
#settingsSection2 div{
    height:3em;
    width:3em;
    margin: .5em;
}
#settingsSection2 div:hover{
    border:.2em solid black;
    box-sizing: border-box;
}
#settingsSection3{
    display:flex;
    flex-direction: column;
    height:15em;
}

.backArrow, .arrow{
    height:100%;
    width:1em;
    padding-left:1em;
    padding-right:1em;
    padding-top:.3em;
    padding-bottom:.3em;
    max-height:1em;
    margin:0em;
}
.backArrow:hover{
    background: dodgerblue;
}
#nav2{
    transform: rotate(180deg)
}
.arrow{
    height:3em;
    margin-top: auto;
    margin-bottom: auto;
}
.arrow:hover{
    background:lightgray;
}
.reload{
    margin: auto;
    margin-left: 1em;
    margin-right: 0;
    max-height: 1.2em;
}
#accountInfo{
    display:flex;
    width:100%;
}
#accountInfo div:nth-child(1){
    z-index: 1;
    width:65%;
    max-width:30em;
}
#accountInfo div:nth-child(1) input{
    height:5em;
}
#accountInfo div:nth-child(2){
    z-index: 0;
    display:flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 10em;
    height:100%;
}
#profilePicture{
    height:7em;
    width:7em;
    background:darkgray;
    border-radius: 50%;
}
#sampleProfile{
    visibility: visible;
    height:6em;
    border-radius: 50%;
    background-size: cover;
}
#wpform{
    height:2em;
    width:90%;
    border:.2em solid darkgray;
    box-sizing: border-box;
}
.input{
    height:2em;
    width:100%;
    height:3em;
    max-width:30em;
    border:.2em solid darkgray;
    box-sizing: border-box;
}
.input:hover{
    background:lightgray;
}
.custom-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    padding: 0;
}
#creator{
    text-decoration: underline;
    cursor: pointer;
}

/* Each of the items in the list */
.custom-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
}

.custom-menu li:hover {
    background-color: #DEF;
}


@media screen and (max-width:1024px){
    .startMenu{
        width:60%;
    }
}




