#main {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    background: url(files/images/bg.jpg);
    background-size: cover;
}